form{
    width: 50%;
    margin: 2vw auto;
    font-weight: 700;
}

.form-group{
    margin: 2vh 0;
}

.form-btn{
    background-color: #A2B38B !important;
    color: black;
    font-weight: 800;
    border: #E4E9BE 1px solid;
    width: 50%;
    margin: 0 auto;
}


