
<h1 class="main-heading">LEARN ANGULAR THE EASY WAY</h1>
<div class="row">
    <div class="col-sm-4" *ngFor="let card of cards;let i = index"> 
        <div class="card">
            <img class="card-img-top" (click)='toggleDetails(i)' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSplQen5QLLznj8xXO_NhGKfiBtdZzhYdDLTg&usqp=CAU" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" (click)='toggleDetails(i)'>{{card.title}}</h5>
                <!--Selector for the goal-detail component
                    Initializer for the constructor from the child.-->
                <div *ngIf='card.showDescription'>
                    <app-card-detail [card]='card'></app-card-detail> 
                </div>
            </div>
        </div>
    </div>
</div>