.card{
    max-height: 100vh;
    min-height: 15vh;
    background-color: #E4E9BE !important;
}

.card-img-top{
    height: 50%;
}

.col-sm-4{
    margin-top: 2vh;
}

.card-desc{
    font-weight: 600;
    padding: 2vw;
}

.btn{
    font-weight: bolder;
    color: white;
}

.btn-primary{
    background-color: #A2B38B;
    border: none;
}

.btn-danger{
    background-color: #E6BA95;
    border: none;
}
