.card{
    max-height: 100vh;
    min-height: 20vh;
    background-color: #E4E9BE !important;
}

.card-img-top{
    height: 50%;
}

.col-sm-4{
    margin-top: 2vh;
}

.card-desc{
    font-weight: 600;
    padding: 2vw;
}

.btn{
    font-weight: bold;
    color: white;
    width: 12vw;
}
